<div class="edit-view">
	<button octicon="x" class="icon-button close-button" (click)="close()"></button>

	<form [formGroup]="movieForm" (submit)="submit()">
		<div>
			<label for="title">Title</label>
			<input type="text" id="title" formControlName="title">
		</div>
		<div>
			<label for="poster">Poster</label>
			<input #poster type="text" readonly id="poster" formControlName="poster" />
			<img class="poster-preview" src="./assets/images/{{poster.value}}" />
		</div>
		<button type="submit" [disabled]="!movieForm.valid">Submit</button>
	</form>
</div>
