.scrollable-content {
	display: grid;
	row-gap: var(--grid-row-gap);
	column-gap: var(--grid-column-gap);
	grid-template-columns: repeat(auto-fill, var(--grid-item-width));
	padding: 0 15px;
	height: unset !important;
	max-width: unset !important;
	max-height: unset !important;

	margin-top: var(--grid-margin-vertical);
	margin-bottom: var(--grid-margin-vertical);
	margin-left: var(--grid-margin-horizontal);
	
	width: calc(100% - var(--grid-margin-horizontal)) !important;
}
