:root {
	--bright-foreground: #fff;
	--foreground: #ccc;
	--border: #444;
	--background: #222;
	--input-background: #333;
	--input-placeholders: #aaa;
	--input-foreground: #ddd;
}

body {
	background-color: var(--background);
}

.entry-box {
	border-color: var(--border);
}

.entry-list {
	background: var(--background);
}

.entry-box-title {
	color: var(--foreground);
}

.search-view-title {
	color: var(--foreground);
}

.edit-view,
.entry-view,
.search-view {
	background: var(--background);
	color: var(--bright-foreground);
}

.edit-view input {
	background: var(--input-background);
	border-color: var(--border);
	color: var(--input-foreground)
}

.icon-button {
	border-color: var(--foreground);
	background-color: var(--background);
}

.icon-button svg {
	fill: var(--foreground);
}

.icon-button:hover {
	background-color: var(--foreground);
}

.icon-button:hover svg {
	fill: var(--background);
}

.search-form .search-input {
	background-color: var(--input-background);
	color: var(--input-foreground);
}

.clear-icon:after {
	color: var(--input-placeholders);
}

a:not([href]):not([tabindex]),
.nav-link,
.context-title {
	color: var(--foreground);
}

a:not([href]):not([tabindex]):hover,
.nav-link:hover {
	color: var(--bright-foreground);
}
