:root {
	--foreground: #ccc;
	--border: #333;
	--background: #222;
	--input-placeholders: #aaa;
}

.movie-box {
	border: 1px solid var(--border);
}

.movie-list {
	background: var(--background);
}

.movie-box-title {
	color: var(--foreground);
}

.movie-view,
.search-results {
	background: var(--background);
}

.settings-icon {
	fill: var(--foreground);
}

.clear-icon:after {
	color: var(--input-placeholders);
}

.context-title {
	color: var(--foreground);
}


.edit-button svg,
.close-button svg,
.search-metadata-provider-button svg
/* button:not([type="submit"]) svg */
{
	fill: var(--foreground);
}
