/* 
::-webkit-scrollbar {
	max-width: 25px !important;
	max-height: 25px !important;
	background: #1d1d1d !important;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
	background: #1d1d1d !important;
}

::-webkit-scrollbar-thumb {
	background: rgba(175, 175, 175, .5) !important;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(65, 131, 196, .8) !important;
}

:root {
	scrollbar-color: rgba(175, 175, 175, .5) #1d1d1d !important;
	scrollbar-width: thin !important;
}
 */
