
.candy {
	height: calc(100vh - 86px);
	min-width: 0;
	width: calc(100vw - 5px);
	margin-top: 15px;
	margin-bottom: 15px;
}

.entry-box,
.entry-poster,
.entry-actions {
	transition-duration: .05s;
	transition-timing-function: linear;
	transition-property: all;
}

.entry-title {
	overflow-y: auto;
	max-height: 50%;
}

.entry-title span {
	display: contents;
}

.entry-box {
	box-sizing: border-box;
	background-color: transparent;
}

.entry-poster {
	opacity: 1;
}

.entry-actions {
	opacity: 0;
}

::ng-deep .scrollable-content {
	display: grid;
	grid-gap: 40px 71px;
	grid-template-columns: repeat(auto-fill, var(--grid-item-width));
	padding: 0 15px;
	height: unset !important;
	max-width: unset !important;
	max-height: unset !important;
}

::-webkit-scrollbar {
	max-width: 25px !important;
	max-height: 25px !important;
	background: #1d1d1d !important;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
	background: #1d1d1d !important;
}

::-webkit-scrollbar-thumb {
	background: rgba(175, 175, 175, .5) !important;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(65, 131, 196, .8) !important;
}

:root {
	scrollbar-color: rgba(175, 175, 175, .5) #1d1d1d !important;
	scrollbar-width: thin !important;
}

.missing-poster {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.missing-poster-icon {
	height: 480px;
	width: 348px;
	padding-left: 15px;
	position: absolute;
}

.list-filler {
	position: absolute;
	top: 0;
	right: -1px;
	width: 1px;
	box-sizing: border-box;
}
