.settings-list {
	margin: 100px auto;
	width: 30%;
}

.field-grid.two-column {
	grid-template-columns: 200px auto;
	border-bottom: none;
	border-top: 1px solid #555;
}

.field-grid:first-of-type {
	margin-top: 16px !important;
}

.field-grid .metadata-field-key {
	padding-top: 21px;
	padding-left: 16px;
}

.field-grid .metadata-field-value {
	padding: 13px;
}

.field-grid .metadata-field-value label {
	width: 40%;
	display: inline-block;
}

.field-grid .metadata-field-value label:not(:first-of-type) {
	margin-top: 16px
}

.field-grid .metadata-field-value input[type='checkbox'],
.field-grid .metadata-field-value input[type='text'] {
	width: auto;
	display: inline-block;
}

.field-grid .metadata-field-value input[type='checkbox'] {
	width: 39px;
}

.btn.btn-outline-light {
	width: 50%;
	margin: 16px auto;
	display: block;
}

/* Styling the determinate progress element */

/* progress {
	width: 100%;
} */

progress[value] {
	/* Get rid of the default appearance */
	appearance: none;

	/* This unfortunately leaves a trail of border behind in Firefox and Opera. We can remove that by setting the border to none. */
	border: none;

	/* Add dimensions */
	width: 100%;
	height: 20px;

	/* Although firefox doesn't provide any additional pseudo class to style the progress element container, any style applied here works on the container. */
	background-color: whiteSmoke;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;

	/* Of all IE, only IE10 supports progress element that too partially. It only allows to change the background-color of the progress value using the 'color' attribute. */
	color: royalblue;

	position: relative;
	margin: 0;
}

/*
Webkit browsers provide two pseudo classes that can be use to style HTML5 progress element.
-webkit-progress-bar -> To style the progress element container
-webkit-progress-value -> To style the progress element value.
*/

progress[value]::-webkit-progress-bar {
	background-color: whiteSmoke;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}

progress[value]::-webkit-progress-value {
	position: relative;

	background-size: 35px 20px, 100% 100%, 100% 100%;
	border-radius:3px;

	/* Let's animate this */
	animation: animate-stripes 5s linear infinite;
}

@keyframes animate-stripes { 100% { background-position: -100px 0; } }

/* Let's spice up things little bit by using pseudo elements. */

progress[value]::-webkit-progress-value:after {
	/* Only webkit/blink browsers understand pseudo elements on pseudo classes. A rare phenomenon! */
	content: '';
	position: absolute;

	width:5px; height:5px;
	top:7px; right:7px;

	background-color: white;
	border-radius: 100%;
}


/* Fallback technique styles */
.progress-bar {
	background-color: whiteSmoke;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;

	/* Dimensions should be similar to the parent progress element. */
	width: 100%; height:20px;
}

.progress-bar span {
	background-color: royalblue;
	border-radius: 3px;

	display: block;
	text-indent: -9999px;
}

p[data-value] {

  position: relative;
}

/* The percentage will automatically fall in place as soon as we make the width fluid. Now making widths fluid. */

p[data-value]:after {
	content: attr(data-value) '%';
	position: absolute; right:0;
}

.html5::-webkit-progress-value {
	/* Gradient background with Stripes */
	background-image:
	-webkit-linear-gradient( 135deg,
													 transparent,
													 transparent 33%,
													 rgba(0,0,0,.1) 33%,
													 rgba(0,0,0,.1) 66%,
													 transparent 66%),
    -webkit-linear-gradient( top,
														rgba(255, 255, 255, .25),
														rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, #09c, #f44);
}

/* update UI */
main {
  width: 9000px;
  padding: 5px;
  overflow: hidden;
  transition: .3s ease;  }
  .update-available main {
    margin-left: -100vw;
  }
  .update-downloading main {
    pointer-events: none;
    opacity: .3;
  }

.container-install,
.container-check {
  width: 100vw;
  float: left;
  transition: .5s ease;
}

.container-install {
  top: 5px;
  left: 5px;
}

.container-check {
  position: relative; }
  .container-check label { display: block; }
  .container-check .box:last-child { padding-left: 1em }

.box {
  display: inline-block;
  vertical-align: top;
}

.log {
  display: flex;
  flex-direction: column;
  flex: 1; }
  .log label { padding-left: 5px; }
  .log .messages {
    flex: 1;
    padding: 5px;
    overflow: auto;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    background: #f9f9f9;
    border-top: 1px solid #ddd;
	}

	/* end update UI */
