:host {
  position: fixed;
  bottom: 70px;
  right: 0;
  margin: 0.5em;
  z-index: 1200;
}

:host ::ng-deep .toast-body {
  padding: 1rem 2rem 1rem 1rem;
}

:host ::ng-deep button.close {
  top: 0;
  right: 5px;
  position: absolute;
}