<nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">

	<div class="navbar-brand">
		<img src="./assets/images/logo.png" width="38" height="38" alt="">
		<div class="app-title d-none">{{ appTitle }}</div>
	</div>

	<ul class="navbar-links">
		<li class="nav-item">
			<a class="nav-link" (click)="showEntryList()" title="Total videos: {{entryCount$ | async}}">Collection</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" (click)="showSettings()">Settings</a>
		</li>
	</ul>

	<button class="navbar-toggler navbar-toggler-right" type="button"
		(click)="navbarCollapsed= !navbarCollapsed"
		[attr.aria-expanded]="!navbarCollapsed" aria-controls="navbar"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div [ngbCollapse]="navbarCollapsed" class="navbar-nav collapse navbar-collapse"	id="navbar">
		<form [formGroup]="searchForm" (submit)="search()" class="search-form form-inline mt-2 mt-sm-0 ml-0 ml-sm-auto">
			<input required formControlName="title" class="search-input form-control mr-2"
				type="search" placeholder="title, keyword, actor" aria-label="Search">
			<button class="clear-icon" type="reset"></button>
			<button [disabled]="!searchForm.valid" class="btn btn-outline-light"
				type="submit">Search</button>
		</form>
		
		<div ngbDropdown class="d-inline-block mr-3 ml-0">
      <button class="btn btn-outline-light" id="dropdownForm1" ngbDropdownToggle>Display</button>
      <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="dropdown-menu-right" [style.opacity]="config.menuTransparency ? '0.75' : '1'">
					<div class="field-grid two-column">
						<span class="metadata-field-key">
							<form [formGroup]="configForm">
								<span class="inner-grid">
									<label class="grid-label">Menu transparency</label>
									<span class="grid-value">{{config.menuTransparency ? 'On' : 'Off'}}</span>
									<input class="grid-input" (change)="save()" #menuTransparency formControlName="menuTransparency" type="checkbox">
								</span>
								<span class="inner-grid">
									<label class="grid-label">Table format</label>
									<span class="grid-value">{{config.tableFormat ? 'On' : 'Off'}}</span>
									<input class="grid-input" (change)="save()" #tableFormat formControlName="tableFormat" type="checkbox">
								</span>
								<span class="inner-grid">
									<label class="grid-label">Width</label>
									<span class="grid-value">{{boxWidth.value}}px</span>
									<input class="grid-input" (input)="save()" #boxWidth formControlName="boxWidth" type="range" min="1" max="700">
								</span>
								<span class="inner-grid">
									<label class="grid-label">Height</label>
									<span class="grid-value">{{boxHeight.value}}px</span>
									<input class="grid-input" (input)="save()" #boxHeight formControlName="boxHeight" type="range" min="1" max="700">
								</span>
								<span class="inner-grid">
									<label class="grid-label">Column gap</label>
									<span class="grid-value">{{columnGap.value}}px</span>
									<input class="grid-input" (input)="save()" #columnGap formControlName="columnGap" type="range" min="1" max="300">
								</span>
								<span class="inner-grid">
									<label class="grid-label">Row gap</label>
									<span class="grid-value">{{rowGap.value}}px</span>
									<input class="grid-input" (input)="save()" #rowGap formControlName="rowGap" type="range" min="1" max="300">
								</span>
								<span class="inner-grid">
									<label class="grid-label">Border radius</label>
									<span class="grid-value">{{borderRadius.value}}px</span>
									<input class="grid-input" (input)="save()" type="range" #borderRadius formControlName="borderRadius" min="0" max="200">
								</span>
								<span class="inner-grid">
									<label class="grid-label">Border width</label>
									<span class="grid-value">{{borderWidth.value}}px</span>
									<input class="grid-input" (input)="save()" type="range" #borderWidth formControlName="borderWidth" min="0" max="30">
								</span>
								<span class="inner-grid">
									<label class="grid-label">Border color</label>
									<span class="grid-value">{{borderColor.value}}</span>
									<input class="grid-input" (input)="save()" type="color" #borderColor formControlName="borderColor">
								</span>
								<span class="inner-grid">
									<label class="grid-label">Margin vertical</label>
									<span class="grid-value">{{marginVertical.value}}px</span>
									<input class="grid-input" (input)="save()" #marginVertical formControlName="marginVertical" type="range" min="0" max="300">
								</span>
								<span class="inner-grid">
									<label class="grid-label">Margin horizontal</label>
									<span class="grid-value">{{marginHorizontal.value}}px</span>
									<input class="grid-input" (input)="save()" type="range" #marginHorizontal formControlName="marginHorizontal" min="0" max="300">
								</span>
								<span class="inner-grid">
									<label class="grid-label">Shadow color</label>
									<span class="grid-value">{{shadowColor.value}}</span>
									<input class="grid-input" (input)="save()" type="color" #shadowColor formControlName="shadowColor">
								</span>
								<span class="inner-grid">
									<label class="grid-label">Shadow blur</label>
									<span class="grid-value">{{shadowBlur.value}}px</span>
									<input class="grid-input" (input)="save()" type="range" #shadowBlur formControlName="shadowBlur" min="0" max="200">
								</span>
								<span class="inner-grid">
									<label class="grid-label">Shadow spread</label>
									<span class="grid-value">{{shadowSpread.value}}px</span>
									<input class="grid-input" (input)="save()" type="range" #shadowSpread formControlName="shadowSpread" min="0" max="200">
								</span>
								<span class="inner-grid">
									<label class="grid-label">Shadow vertical offset</label>
									<span class="grid-value">{{shadowVerOffset.value}}px</span>
									<input class="grid-input" (input)="save()" type="range" #shadowVerOffset formControlName="shadowVerOffset" min="-50" max="50">
								</span>
								<span class="inner-grid">
									<label class="grid-label">Shadow horizontal offset</label>
									<span class="grid-value">{{shadowHorOffset.value}}px</span>
									<input class="grid-input" (input)="save()" type="range" #shadowHorOffset formControlName="shadowHorOffset" min="-50" max="50">
								</span>
								<span class="inner-grid">
									<label class="grid-label">Highlight untouched entries</label>
									<span class="grid-value">{{config.untouchedHighlight ? 'On' : 'Off'}}</span>
									<input class="grid-input" (change)="save()" #untouchedHighlight formControlName="untouchedHighlight" type="checkbox">
								</span>
								<span class="inner-grid">
									<label class="grid-label">Show only untouched entries</label>
									<span class="grid-value">{{config.showOnlyUntouched ? 'On' : 'Off'}}</span>
									<input class="grid-input" (change)="save()" #showOnlyUntouched formControlName="showOnlyUntouched" type="checkbox">
								</span>
								<span class="inner-grid">
									<label class="grid-label">Untouched shadow color</label>
									<span class="grid-value">{{untouchedColor.value}}</span>
									<input class="grid-input" (input)="save()" type="color" #untouchedColor formControlName="untouchedColor">
								</span>
								<span class="inner-grid">
									<label class="grid-label">Edit Menu Position</label>
									<div class="grid-input">
										<input type="checkbox" data-toggle="switchbutton" (change)="save()"
											[checked]="config.editMenuPositionRight"
											formControlName="editMenuPositionRight" name="editMenuPositionRight"
											data-onstyle="primary" data-offstyle="dark" data-style="border"
											data-onlabel="Right" data-offlabel="Left">
									</div>
								</span>
							</form>
						</span>
					</div>
      </div>
		</div>
		
		<div ngbDropdown class="mr-3 ml-0" *ngIf="genres && genres.length > 0">
			<button id="genreButton" class="btn btn-outline-light" ngbDropdownToggle>Genres</button>
			<div ngbDropdownMenu aria-labelledby="genreButton" class="dropdown-menu-genre">
				<ng-container *ngFor="let genre of genres">
					<button ngbDropdownItem (click)="gotoGenre(genre)">{{genre | titlecase}}</button>
				</ng-container>
			</div>
		</div>

		<div ngbDropdown class="mr-3 ml-0">
			<button id="bookmarksButton" class="btn btn-outline-light" ngbDropdownToggle>Bookmarks</button>
			<div ngbDropdownMenu aria-labelledby="bookmarksButton" class="dropdown-menu-bookmarks">
				<ng-container *ngFor="let char of alphabet">
					<button ngbDropdownItem (click)="goto(char)">{{char}}</button>
				</ng-container>
			</div>
		</div>
		
		<div ngbDropdown class="mr-3 ml-0">
			<button id="sortByButton" class="btn btn-outline-light" ngbDropdownToggle>Sort by: {{sorting}}</button>
			<div ngbDropdownMenu aria-labelledby="sortByButton" class="dropdown-menu-sortby">
				<button ngbDropdownItem (click)="sortBy('title')">Title</button>
				<button ngbDropdownItem (click)="sortBy('year')">Year</button>
				<button ngbDropdownItem (click)="sortBy('file')">Video File</button>
			</div>
		</div>
		
		<input type="file" multiple #entriesInput (change)="addEntries($event);" />
		<button class="btn btn-outline-light mr-0 ml-0" (click)="entriesInput.value = null; entriesInput.click()">Add Video</button>
	</div>
</nav>
