h2 {
	color: white;
}

.navbar {
	min-width: 390px;
	padding: .5rem 5rem .5rem 1rem;
	-webkit-app-region: drag;
	user-select: none;
}

@media (min-width: 1200px) {
	.navbar-expand-custom {
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
		flex-direction: row;
	}
	.navbar-expand-custom .dropdown-menu {
		position: absolute;
	}
	.navbar-expand-custom .nav-link {
		padding-right: .5rem;
		padding-left: .5rem;
	}
	.navbar-expand-custom > .container {
		flex-wrap: nowrap;
	}
	.navbar-expand-custom .navbar-collapse {
		display: flex !important;
		flex-basis: auto;
	}
	.navbar-expand-custom .navbar-toggler {
		display: none;
	}
}

.navbar-nav {
	justify-content: center;
}

.navbar button,
.navbar input,
.navbar .nav-item,
.navbar .nav-link {
	-webkit-app-region: no-drag;
}

.window-button-group {
	position: fixed;
	top: 0;
	right: 0;
	display: flex;
}

.window-button {
	height: 24px;
	width: 24px;
	appearance: none;
	border: none;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	fill: white;
}

.minimize-button:hover,
.maximize-button:hover {
	outline: 1px solid grey;
	fill: white;
}

.quit-button:hover {
	background: rgb(202, 26, 26);
	fill: white;
}

.btn-no-outline {
	border-color: transparent;
}

.add-video-button {
	min-width: fit-content;
}

.search-form {
	display: flex;
	flex-flow: row nowrap;
	width: 50%;
}

.search-form .search-input {
	/* width: 74% !important; */
	min-width: 100px;
}

form .form-control {
	/*width: auto;*/ /* prevent full width input in xs */
}

.dropdown-menu {
	background-color: #222;
	border: 1px solid white;
	border-radius: 4px;
	color: white;
}

.dropdown-menu-genre {
	left: -30px;
	min-width: unset;
	right: -30px;
}

.dropdown-menu-bookmarks {
	left: 25%;
	width: 50%;
	min-width: unset;
}

.dropdown-menu-bookmarks .dropdown-item {
	padding: .25rem 0;
}

.dropdown-item {
	color: white;
	background-color: #222;
	text-align: center;
}

.dropdown-item:hover {
	background-color: white;
	color: #222;
}

.field-grid:first-of-type {
	margin-top: 0 !important;
}

.field-grid.two-column {
	border: none;
	display: flex;
	justify-content: flex-start;
}

.field-grid .metadata-field-key {
	padding: 21px 16px;
}

.field-grid .metadata-field-key .inner-grid {
	display: grid;
	grid-template-columns: 240px 100px 240px;
	grid-template-rows: auto;
	grid-template-areas: "label value input";
}

.grid-label {
	grid-area: label;
}

.grid-value {
	grid-area: value;
}

.grid-input {
	grid-area: input;
}

.field-grid .metadata-field-value {
	padding: 13px;
}

.field-grid label {
	display: block;
}

/* 
.field-grid label:not(:first-of-type) {
	margin-top: 16px;
} */

.field-grid label.btn.btn-primary {
	cursor: pointer;
}

.field-grid label.btn.btn-primary:not(.active) {
	background-color: #222;
}

.field-grid input[type=range] {
	padding: 0;
}

.field-grid input[type="checkbox"],
.field-grid input[type="text"] {
	width: auto;
	display: inline-block;
}

.field-grid input[type="checkbox"] {
	width: 39px;
	align-self: center;
}
/* 
input[type="search"] {
	width: 300px;
} */
