.movie-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-auto-rows: auto;
	grid-gap: 10px;
	background: #222;
	padding-top: 10px;
}

.movie-box {
	height: 400px;
	width: 290px;
	border: 1px solid #333;
}

.movie-box-2 {
	position: relative;
}

.movie-poster {
	height: 400px;
	width: 290px;
	z-index: 1;
	position: absolute;
}

.movie-box-title {
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	width: 100%;
	color: #bbb;
	z-index: 2;
	position: absolute;
}
