*,
*::before,
*::after {
	transition: opacity 0.5s ease-in-out;
}

.btn {
	width: 70%;
	margin: 0 4%;
}


.file-info {
	text-align: center;
	display: inline-block;
	height: 50px;
	vertical-align: middle;
	line-height: 50px;
	margin: 0 2%;
	width: 60%;
	z-index: 1;
}

.file-path {
	overflow: auto;
	/*
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	direction: rtl; */
}
/*
.file-info:hover {

}

.file-info:hover .file-path {
	opacity: 0;
}

.file-info::after {
	content: attr(data-file);
	position: relative;
	color: #fff;
	display: inline-block;
	top: -50px;
	white-space: nowrap;
	background: #333;
	padding: 0 21% 0 0;
	opacity: 0;
}

.file-info:hover::after {
	opacity: 1;
}

.file-info:hover + .btn {
	opacity: 0;
}
 */
.file-info + .btn {
	width: 10%;
	margin: 0 2%;
	position: relative;
	z-index: 2;
}
