<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

	<a class="navbar-brand" routerLink="/library">Movies</a>

	<p class="context-title m-auto d-xs-block d-md-none">
		{{ title }}
	</p>

	<div class="button-group">
		<button class="btn btn-outline-success" (click)="addMovie()">Add Movie</button>
	</div>

	<button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
		data-target="#navbar" aria-controls="navbar"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbar">

		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" routerLink="/settings">Settings</a>
			</li>
		</ul>

		<p class="context-title m-auto d-none d-md-block">
			{{ title }}
		</p>

		<form [formGroup]="searchForm" (submit)="search()" class="form-inline">
			<input required id="title" formControlName="title" class="form-control mr-2"
				type="search" placeholder="Search" aria-label="Search">
			<button class="clear-icon" type="reset"></button>
			<button [disabled]="!searchForm.valid" class="btn btn-outline-success"
				type="submit">Search</button>
		</form>
	</div>
</nav>
