.clear-icon {
	border: 1px solid transparent;
	background-color: transparent;
	cursor: pointer;
	position: relative;
	margin: -15px 7px 0 -50px;
	outline: 0;
}

.clear-icon:after {
	content: '\02A2F';
	display: block;
	width: 25px;
	height: 25px;
	position: relative;
	color: #aaa;
	font-size: 25px;
	cursor: pointer;
}

input[type=search]:not(:valid) ~ .clear-icon {
	display: none;
}