@import './app/themes/default.css';

:root {
	--grid-item-width: 290px;
	--grid-item-height: 400px;
}

html {
	height: 100%;
}

body {
	padding-top: 3.5rem;
	height: 100%;
	min-width: 360px;
}

.navbar-expand-md .navbar-nav .nav-link {
	padding: 0;
}

.clear-icon {
	border: 1px solid transparent;
	background-color: transparent;
	cursor: pointer;
	position: relative;
	margin: -15px 7px 0 -50px;
	outline: 0;
}

.clear-icon:after {
	content: '\02A2F';
	display: block;
	width: 25px;
	height: 25px;
	position: relative;
	font-size: 25px;
	cursor: pointer;
}

input[type=search]:not(:valid) ~ .clear-icon {
	display: none;
}

.movie-list {
	display: grid;
	/* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
	/* grid-auto-rows: 400px; */
	/*grid-auto-columns: 290px;*/
	grid-gap: 15px;
	grid-template-columns: repeat(auto-fill, var(--grid-item-width));
	padding-top: 15px;
	padding-right: 70px;
	padding-left: 15px;
}

.movie-poster {
	height: var(--grid-item-height);
	width: var(--grid-item-width);
	z-index: 1;
	position: absolute;
}

.poster-preview {
	height: var(--grid-item-height);
	width: var(--grid-item-width);
	display: block;
}

.movie-box {
	height: var(--grid-item-height);
	width: var(--grid-item-width);
}

.movie-box-2 {
	position: relative;
}

.movie-box-title {
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	width: calc(100% - var(--grid-item-width) - 30px - 110px - 15px);
	z-index: 2;
	position: absolute;
	left: calc(var(--grid-item-width) + 30px);
	top: 15px;
}

.edit-view,
.movie-view,
.search-view {
	height: 100%;
	position: relative;
}

.edit-button,
.close-button {
	cursor: pointer;
	outline: 0;
	background-color: var(--background);
	border: 1px solid var(--foreground);
	width: 40px;
	height: 40px;
	float: right;
	margin-right: 15px;
	margin-top: 15px;
}

.clear-icon:focus,
.edit-button:focus,
.close-button:focus {
	outline: 0;
}

.edit-button svg,
.close-button svg {
	width: 100%;
	height: 100%;
}

.settings-icon {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}



