@import './app/themes/default.css';

:root {
	--grid-item-width: 290px;
	--grid-item-height: 400px;
}

input[type="file"] {
	display: none;
}

html {
	height: 100%;
}

body {
	padding-top: 3.5rem;
	height: 100%;
}

pre {
	color: #ddd;
}

.debug {
	border: 1px dashed green;
}

.search-form {
	flex-flow: row nowrap;
	justify-content: center;
}

.navbar-toggler {
	height: 38px !important;
}

.search-view-title {
	display: block;
	font-size: 25px;
	width: 100%;
	text-align: center;
}

.icon-button-box {
	right: 0;
	position: absolute;
	z-index: 1;
}

.entry-poster {
	position: absolute;
}

.entry-actions {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	color: #fff;
	padding: 5px;
	min-width: var(--grid-item-width);
}

.entry-title {
	word-break: break-word;
	display: flex;
	font-weight: bold;
	margin-bottom: 10px;
}

.entry-blurb {
	word-break: break-word;
	display: flex;
	flex: 1;
	overflow-y: auto;
}

.icon-button-box-horizontal {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.icon-button {
	display: block;
	cursor: pointer;
	outline: 0;
	border-width: 1px;
	border-style: solid;
	width: 38px;
	height: 38px;
	margin-right: 15px;
	margin-top: 15px;
	border-radius: .25rem;
}

.icon-button:focus {
	outline: 0;
}

.icon-button svg {
	height: 100%;
	width: 100%;
}

.icon-button[octicon='trashcan'] svg {
	margin-left: -2px;
}

.clear-icon {
	border: 1px solid transparent;
	background-color: transparent;
	cursor: pointer;
	position: relative;
	margin: -15px 7px 0 -50px;
	outline: 0;
}

.clear-icon:after {
	content: '\02A2F';
	display: block;
	width: 25px;
	height: 25px;
	position: relative;
	font-size: 25px;
	cursor: pointer;
}

.clear-icon:focus {
	outline: 0;
}

input[type=search]:not(:valid) ~ .clear-icon {
	display: none;
}
/*
.list-view,
.metadata-search-results-view,
.search-view {
	height: 100%;
	position: relative;
} */
/*
.metadata-search-results-view {
	overflow: visible;
	padding-bottom: 85px;
	height: unset;
} */

.entry-view {
	position: relative;
}

.entry-list {
	display: grid;
	grid-gap: 15px;
	grid-template-columns: repeat(auto-fill, var(--grid-item-width));
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 70px;
	padding-left: 15px;
	min-height: 100%;
}

.poster-preview-box,
.poster-preview,
.poster-preview img {
	display: inline-block;
	width: var(--grid-item-width);
	height: var(--grid-item-height);
	vertical-align: top;
}

.poster-preview {
	display: inline-flex;
	align-items: center;
}



.navbar-brand {
	padding: 0;
	font-size: 1.5rem;
}

.navbar-links {
	display: inline-flex;
	list-style: none;
	margin-bottom: 0;
	align-items: center;
	justify-content: center;
	padding-left: 0;
}

.nav-link {
	padding: 0;
	cursor: pointer;
	vertical-align: text-bottom;
}

.nav-item {
	align-self: center;
	padding-top: 1px;
	width: 100px;
	text-align: center;
}

.navbar-brand img {
	display: inline-block;
	vertical-align: middle;
}

.app-title {
	display: inline-block;
	vertical-align: bottom;
	line-height: 38px;
	padding-bottom: 2px;
}

.file-placeholder,
.poster-placeholder {
	display: inline-block;
}

.file-placeholder {
	width: 20%;
	text-align: left;
	border-right: 1px solid grey;
}

.poster-placeholder {
	width: 100%;
	text-align: center;
	line-height: var(--grid-item-height);
	height: var(--grid-item-height);
}

.entry-box {
	position: relative;
	height: var(--grid-item-height);
	width: var(--grid-item-width);
	border-width: 1px;
	border-style: solid;
}

.right-fields {
	display: inline-block;
	width: calc(100% - var(--grid-item-width));
	padding-left: 15px;
}

.entry-box-media-type {
	position: absolute;
	right: 0;
}

.edit-view .input {
	display: inline-block;
	border-style: dashed;
	border-width: 1px;
	padding: 10px;
	width: 100%;
}

.input input {
	border: none;
	width: 79%;
	text-align: center;
	height: 50px;
}

textarea {
	border: none;
	background: transparent;
	color: #fff;
	box-sizing: border-box;
	width: 100%;
	resize: vertical;
	min-height: 50px;
	overflow-y: auto;
}

.input .input-text {
	width: 19%;
	text-align: center;
	display: inline-block;
	border-right: 1px solid grey;
	vertical-align: middle;
	height: 50px;
	line-height: 50px;
}

.input.dynamic .input-text {
	vertical-align: top;
}

.poster-preview .icon-button {
	position: absolute;
	left: 30px;
	display: none;
}

#poster-button,
.poster-preview .icon-button.selected,
.poster-preview:hover .icon-button {
	display: block;
	width: 28px;
	height: 28px;
}

.metadata-search-result .icon-button {
	display: inline-block;
	width: 28px;
	height: 28px;
}

.details-button {
	width: 50%;
	border-radius: 8px;
	height: 45px;
	font-size: 23px;
	color: var(--foreground);
	padding-top: 0px;
	padding-bottom: 5px;
	margin: 30px auto;
	cursor: pointer;
}

.prev-button,
.next-button {
	margin: 15px auto 0;
	display: flex;
}

.finish-button {
	margin: 15px auto 15px 7px;
}

.cancel-button {
	margin: 15px 7px 15px auto;
}

.sticky-icon-box {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	z-index: 2;
}

.sticky-icon-box button {
	width: 150px;
}

.metadata-search-result:last-child {
	padding-bottom: 70px; /* todo: what? */
}

#poster-button ~ .popover {
	z-index: 0;
}

.modal-title {
	color: #fff;
}
.modal-content {
	background: #4a4a4a;
}

.modal-footer .btn {
	margin: 0 auto !important;
}

.modal-header button.close {
	color: #bbb;
}

.modal-header button.close:hover {
	color: #fff;
}

.metadata-container {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 70px;
	padding-left: 15px;
}

.field-grid {
	display: grid;
	border-bottom: 1px solid #555;
	grid-column-gap: 11px;
}

.field-grid.three-column {
	grid-template-columns: 50px 14% auto;
}

.field-grid.three-column-reverse {
	grid-template-columns: 14% auto 226px;
}

.field-grid.two-column {
	grid-template-columns: 14% auto;
}

.field-grid:first-of-type {
	margin-top: -13px;
}

.field-grid button {
	height: 38px;
	margin: 13px !important;
}

.field-grid.three-column-reverse button {
	width: 200px;
}

.metadata-field-key {
	vertical-align: middle;
	min-height: 38px;
	padding-top: 13px;
}

.metadata-field-value {
	padding: 13px 0 13px 13px;
}

.field-grid.three-column-reverse .metadata-field-value {
	height: 38px;
}

.metadata-field-value div[contenteditable],
.metadata-field-value input {
	width: 100%;
	background-color: transparent;
	border: none;
	color: #fff;
	resize: vertical;
	min-height: 38px;
	overflow-y: auto;
}

.metadata-field-value .new-form-field input {
	height: 38px;
	background-color: transparent;
	border: none;
	color: #fff;
}
