body {
  padding-top: 3.5rem;
}

/* menu */

.clear-icon {
	border: 1px solid transparent;
	background-color: transparent;
	cursor: pointer;
	position: relative;
	margin: -15px 7px 0 -50px;
	outline: 0;
}

.clear-icon:after {
	content: '\02A2F';
	display: block;
	width: 25px;
	height: 25px;
	position: relative;
	color: #aaa;
	font-size: 25px;
	cursor: pointer;
}

input[type=search]:not(:valid) ~ .clear-icon {
	display: none;
}

/* /menu */

/* movies */

.movie-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-auto-rows: auto;
	grid-gap: 10px;
	background: #222;
	padding-top: 10px;
}

.movie-poster {
	height: 400px;
	width: 290px;
	z-index: 1;
	position: absolute;
}

.poster-preview {
	height: 400px;
	width: 290px;
	display: block;
}

.movie-box {
	height: 400px;
	width: 290px;
	border: 1px solid #333;
}

.movie-box-2 {
	position: relative;
}

.movie-box-title {
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	width: 100%;
	color: #bbb;
	z-index: 2;
	position: absolute;
}

.edit-button {
	z-index: 2;
	position: absolute;
}

/* /movies */
