<div>
	<app-back-button></app-back-button>
	<form [formGroup]="movieForm" (submit)="submit()">
		<div>
			<label for="id">ID</label>
			<input type="text" id="id" formControlName="id">
		</div>
		<div>
			<label for="title">Title</label>
			<input type="text" id="title" formControlName="title">
		</div>
		<div>
			<label for="poster">Poster</label>
			<input #poster type="text" readonly id="poster" formControlName="poster" />
			<img class="poster-preview" src="./assets/images/{{poster.value}}" />
		</div>
		<button type="submit" [disabled]="!movieForm.valid">Submit</button>
	</form>
</div>
